@media (max-width: 575px) { 
    #actor-card.card{
        width: 75px;
        font-size: 9px;
    }
    .actor-img{
        height: 115px;
        width: 75px;
    }
  }

  @media (min-width: 576px) { 
    #actor-card.card{
        width: 100px;
        font-size: 11px;
    }
    .actor-img{
        height: 155px;
        width: 100px;
    }
  }

  @media (min-width: 768px) { 
    #actor-card.card{
        width: 125px;
        font-size: 12px;
    }
    .actor-img{
        height: 180px;
        width: 125px;
    }
   }

   @media (min-width: 992px) { 
    #actor-card.card{
        width: 170px;
        font-size: 13px;
    }
    .actor-img{
        height: 250px;
        width: 170px;
    }

   }
   
@media (min-width: 1200px) { 
    #actor-card.card{
        width: 180px;
        font-size: 14px;
    }
    .actor-img{
        height: 260px;
        width: 180px;
    }
}