.pagination > li > button{
    background-color: rgb(27, 26, 26);
    color: rgb(207, 202, 202);
}
.pagination > li > button:hover
{
    color: #ad2d0d;
    background-color: rgb(27, 26, 26);
    box-shadow: none;
}
.pagination > li > button.active, .active:hover {
    color: #ad2d0d;
    background-color: rgb(27, 26, 26);
} 
.active:focus, .page-item:focus, .page-link:focus {
    outline: none;
    box-shadow: none;
}
